    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

    body {
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 10px;
    }

    :root {
        --navy950: hsl(233, 47%, 7%);
        --blue950: hsl(244, 37%, 16%);
        --purple500: hsl(277, 64%, 61%);
        --white-main-head: hsl(0, 0%, 100%);
        --white-main-para: hsla(0, 0%, 100%, 0.75);
        --white-stat-head: hsla(0, 0%, 100%, 0.6);
    }

    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/inter/v20/UcCo3FwrK3iLTcviYwYZ90A2N58.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/lexenddeca/v25/K2F1fZFYk-dHSE0UPPuwQ5qnJy8.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    .stats-preview-card-bg-cont {
        width: 100%;
        height: 100vh;
        background-color: var(--navy950);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .stats-prev {
        width: 111rem;
        height: 44rem;
        box-sizing: border-box;
        background-color: var(--blue950);
        display: flex;
        align-items: center;
        border-radius: 1rem;
        overflow: hidden;
    }

    .stats-prev__half {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .stats-prev__half--text {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 6.2rem;
        box-sizing: border-box;
    }

    .stats-prev__heading-main {
        font-size: 3.6rem;
        letter-spacing: 1.1px;
        color: var(--white-main-head);
        font-family: 'Inter';
        max-width: 38rem;
        margin-top: 0;
    }

    .stats-prev__heading-main--purple {
        color: var(--purple500);
    }

    .stats-prev__para-main {
        font-size: 1.5rem;
        color: var(--white-main-para);
        font-family: 'Inter';
        font-weight: 400;
        line-height: 1.6;
        max-width: 36rem;
        margin-top: 0;
    }

    .stats-prev__stats-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 6.4rem;
        margin-top: 5.6rem;
    }

    .stats-prev__nums-wrap {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;
    }

    .stats-prev__quants {
        font-size: 2.4rem;
        color: var(--white-main-head);
        font-family: 'Inter';
        font-weight: 700;
        margin-bottom: .8rem;
        margin-inline: 0;
    }

    .stats-prev__cats {
        font-size: 1.2rem;
        color: var(--white-stat-head);
        font-family: 'Inter';
        margin-top: 0;
        letter-spacing: 1px;
         font-family: 'Lexend Deca';
    }

    .stats-prev__half--image {
        position: relative;
    }

    .stats-prev__inner-image {
        width: 100%;
        height: 100%;
        background-image: url('images/image-header-desktop.jpg');
        background-size: cover;
        background-position: center;
    }

    .stats-prev__half--image::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(83, 0, 138, 0.5);
    }

    @media screen and (max-width: 1004px) {
        .stats-prev {
            flex-direction: column-reverse;
            height: auto;
        }

        .stats-prev__half {
            height: auto;
            width: 100%;
        }

        .stats-prev__half--text {
            align-items: center;
            text-align: center;
            padding-top: 4rem;
            padding-inline: 0;
        }

        .stats-prev__heading-main {
            max-width: 80%;
            font-size: clamp(2.8000rem, calc(2.3251rem + 1.2698vw), 3.6000rem);
        }

        .stats-prev__para-main {
            max-width: 70%;
        }

        .stats-prev__stats-wrap {
            justify-content: center;
            flex-direction: column;
            margin-top: 2rem;
            gap: 3rem;
        }

        .stats-prev__nums-wrap {
            align-items: center;
        }

        .stats-prev__inner-image {
           padding-top: 80%;
           background-image: url('images/image-header-mobile.jpg');
        }

        .stats-preview-card-bg-cont {
           height: auto;
           padding-bottom: 10%;
        }

    }

    @media screen and (max-width: 374px) {
        .stats-prev__heading-main {
            max-width: 80%;
            font-size: clamp(2.2000rem, calc(0.1286rem + 7.1429vw), 2.8000rem);
        }

        .stats-prev__para-main {
            max-width: 88%;
            font-size: 1.5rem;
        }


    }
